.border{
    border: 2px solid  red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
    color: #000;
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.bg-green{
    fill: #1fdf64;
}

.logo{
    width: 60%;
    /* height: 100px; */
}


/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark color for the thumb */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #222; /* Dark color for the track */
  }
  
  /* For Firefox */
  /* scrollbar-color: #333 #222; Dark color for the thumb and track in Firefox */
  
  /* Style the volume range slider track
.range input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd; /* Default track color */
    /* border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
} */

/* Style the range thumb (handle) */
/* .range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green; /* Green color for the thumb */
    /* cursor: pointer; */
/* } */ 

/* For Firefox */
/* .range input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: green; /* Green color for the thumb */
    /* cursor: pointer; */
} 

/* Change the color of the track when the user moves the slider */
/* .range input[type="range"]:focus {
    background: linear-gradient(to right, green 0%, green 100%);
} */

/* Change the track color as the slider moves */
/* .range input[type="range"]:active {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, green 100%);
} */ 
